services:
  gh-runner-oci-lxc-deployer:
    image: ghcr.io/modbus2mqtt/github-actions-runner:latest
    restart: unless-stopped
    environment:
      REPO_URL: "https://github.com/modbus2mqtt/oci-lxc-deployer"
      ACCESS_TOKEN: "{{ GITHUB_RUNNER_TOKEN }}"
      RUNNER_NAME: "${RUNNER_NAME:-pve1-modbus2mqtt}"
      LABELS: "self-hosted,linux,x64,pve1"
    volumes:
      - ./config:/etc/oci-lxc-deployer:ro
