@import '@angular/material/prebuilt-themes/indigo-pink.css';
/* You can add global styles to this file, and also import other style files */

// Make multiline textareas wider and taller globally
mat-form-field {
  &:has(textarea.mat-mdc-input-element) {
    width: 100% !important;
    max-width: none !important;
  }
  
  textarea.mat-mdc-input-element {
    min-height: 150px !important;
    width: 100% !important;
    resize: vertical;
  }
}
